<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
    input.ng-pristine {
        background-color:transparent;
    }
    input.ng-dirty {
        background-color:green;
    }
</style>


<body ng-app="">

<p>Try leaving the first input field blank:</p>

<form name="myForm">
    <p>Nombre:
        <input type="text" name="myName" ng-model="myName" required>
        <span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The Nombre is required.</span>
    </p>

    <p>Canastas:
        <input type="number" min="0" name="myCanastas" ng-model="myCanastas" required>
        <span ng-show="myForm.myCanastas.$touched && myForm.myCanastas.$invalid">The Canastas is required Min is 0.</span>
    </p>

    <p>Asistencias:
        <input type="number" min="0" name="myAsistencias" ng-model="myAsistencias" required>
        <span ng-show="myForm.myAsistencias.$touched && myForm.myAsistencias.$invalid">The Asistencias is required Min is 0.</span>
    </p>

    <p>Fecha de Nacimiento:
        <input type="date" name="myFecha" ng-model="myFecha" required>
        <span ng-show="myForm.myFecha.$touched && myForm.myFecha.$invalid">The Date is required</span>
    </p>

    <p>Posicion:
        <input type="text" name="myPosicion" ng-model="myPosicion" required>
        <span ng-show="myForm.myPosicion.$touched && myForm.myPosicion.$invalid">The Posicion is required.</span>
    </p>

    <p>Rebotes :
        <input type="number" min="0" name="myRebotes" ng-model="myRebotes" required>
        <span ng-show="myForm.myRebotes.$touched && myForm.myRebotes.$invalid">The Rebotes is required Min is 0.</span>
    </p>

</form>


</body>
</html>
